<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/files/GPorter_Resume_2016.pdf"><span class="glyphicon glyphicon-user"></span> Resume</a>
      </li>
      <li>
        <a href="#portfolio"><span class="glyphicon glyphicon-book"></span> Portfolio</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a id="resume-header-link" href="#contact"><span class="glyphicon glyphicons-envelope"></span>Contact</a>
      </li>
    </ul>
  </div>
</nav>
