<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

      <span class="glyphicon glyphicon-check fill-it"></span>
    
    <h1>Hi I'm Geoff Porter, a web developer</h1>
    <p>My mission is to build beautiful web applications, and build them right.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>I'm Great At</h3>
      <ul class="list-group">
        <li class="list-group-item">Ruby on Rails<span class="glyphicon glyphicon-ok-sign pull-right"></span></li>
        <li class="list-group-item">HTML/CSS<span class="glyphicon glyphicon-ok-sign pull-right"></span></li>
        <li class="list-group-item">JavaScript<span class="glyphicon glyphicon-ok-sign pull-right"></span></li>
        <li class="list-group-item">PostgreSQL<span class="glyphicon glyphicon-ok-sign pull-right"></span></li>
        <li class="list-group-item">Heroku<span class="glyphicon glyphicon-ok-sign pull-right"></span></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Services</h3>
      <div class="list-group">
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Web Development</h4>
              <p class="list-group-item-text">Full-stack web applications, rapid prototyping, deployments</p>
            </a>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Professional Development</h4>
              <p class="list-group-item-text">Customized lesson plans, one-on-one assistance</p>
            </a>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Technical Leadership</h4>
              <p class="list-group-item-text">Code review, application design, requirements gathering</p>
            </a>
          </div>
    </div>
  </div> <!-- row -->
  <hr>
  <div class="row">
    <h3>Portfolio</h3>
  </div>
  <div id="portfolio" class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="http://www.dougg.xyz">Dougg</a></h3>
        </div>
        <div class="panel-body">
          <a href="http://www.dougg.xyz"><img src="thumbnail_dougg.png" class="thumbnail"></a>
          A Digg clone that I built from scratch in a couple of days as a portfolio piece. Built in Ruby on Rails and deployed to heroku. It uses devise and cancan for authentication and bootstrap for front-end formatting.
        </div>
      </div>
    </div>
     <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="http://www.missionplnr.com">Mission Plnr</a></h3>
        </div>
        <div class="panel-body">
          <a href="http://www.missionplnr.com"><img src="thumbnail_missionplnr.png" class="thumbnail"></a>
          A side-project I built to help plan snowboarding trips and other outdoor excursions. Uses omniauth to allow google login. Uses heroku for the application hosting and AWS EC2 for asset hosting.
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row"><!-- row -->
    <h3>Contact</h3>
    <div id="contact" class = "col-md-6">
      <div class="list-group">
        <div href="geoff.porter.work@gmail.com" class="list-group-item">
          Email: geoff.porter.work@gmail.com
        </div>
        <a href="https://www.linkedin.com/in/geoffhporter" class="list-group-item">
          LinkedIn: geoffhporter
        </a>
        <a href="https://github.com/Ffoeg311" class="list-group-item" href="https://www.linkedin.com/in/geoffhporter">
          GitHub: Ffoeg311
        </a>
        <a href="http://www.upwork.com/o/profiles/users/_~0128822352b027f840/" class="list-group-item">
          Upwork
        </a>
      </div>
    </div>
    <div id="resume-div" class="col-md-6 text-center">
      <a href="/files/GPorter_Resume_2016.pdf" class="btn btn-info text-center">Download a Copy of my Resume</a>
    </div>
  </div>
  
</div>


</body>
</html>
